/* The class will design the employee login button. */
.employee_login_button_design {
    width: 450px;
    height: 100px;
    padding: 10px;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightgray;
    cursor: pointer;
}

/* The class will design the side buttons. */
.side_button_design {
    width: 450px;
    height: 100px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 25px;
    background-color: lightgray;
    cursor: pointer;
}

/* The class will design the menu item buttons. */
.menu_item_button_design {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* The class will design the checkout button. */
.checkout_button_design {
    width: 770px;
    height: 80px;
    padding: 10px;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightgray;
    cursor: pointer;
}