/* General Trends Container */
.general-trends-container {
    padding: 20px;
    padding-top: 150px;
    background-color: #f0f0f0;
  }
  
 /* Title Styling */
 .page-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 75px 600px;
  }
  
  /* Container for Side-by-Side Tables */
  .tables-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
  }
  
   /* Table Styling */
  .table-wrapper {
    width: 48%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .general-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .general-table caption {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .general-table th, .general-table td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  
  .general-table thead {
    background-color: grey;
    color: white;
  }