/*XReport Container */
.xreport-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 0 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
  }

/* Title Styling */
.xreport-title, .date-title {
    font-size: 3;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* XReport Table Styling */
.table-wrapper {
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.xreport-table {
    width: 100%;
    border-collapse: collapse;
}

.xreport-table caption {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}

.xreport-table th, .xreport-table td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.xreport-table thead {
    background-color: grey;
    color: white;
}
